<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim</title>
    <link rel="stylesheet" href="site.css" />

</head>

<body class="iletisim">

    <div class="form-group">
        <form method="post">
            <p>AD:</p> <input type="text" class="form-control" name="ad" /><br>
            <p>SOYAD:</p> <input type="text" class="form-control" name="soyad" /><br>
            <p>e-POSTA:</p> <input type="text" class="form-control" name="mail"><br>
            <p>BANA ULAŞIN:</p>
            <textarea name="ulas" class="form-control"
                placeholder="Bu bölümde isteklerinizi yazabilirsiniz."></textarea><br>
            <button class="btn btn-primary">Gönder</button>
        </form>
    </div>

</body>

</html>