@{
    ViewData["Title"]="Orçun ÖZDEMİR";
}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orçun ÖZDEMİR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="site.css">
    
</head>
<body style="background-color: #212121;">
    <ul style="color: green; size:5px; position:static;" id="ulzaman"><li> <b id="zaman" class="yerText" style="color:white;" ></b></li></ul>
    <p id="bi_karikatur">Konum bilgisi için <a href="https://goo.gl/maps/PZGcoknH7BPAubrv5" target="_blank">Tıklayınız</a></p>
    <p id="lucky_travel">Konum bilgisi için <a href="https://goo.gl/maps/ZjjsV8SAi77cJ1rF7" target="_blank">Tıklayınız</a></p>
    
    <div style="align-items:start;">
        
      <img src="~/css/notaorcun.png" width="300vw" class="notafoto"/><br><br>
      </div>
      <div style="position: static;">
      <iframe width="850" height="506" src="https://www.youtube.com/embed/-oHEoO4spXU" title="Dünyadan Uzak" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share allowfullscreen" class="ustvideo"></iframe>
      </div>
       <br><br><br>
    <div>
    <a name="muziklerim"><h3>Müziklerim</h3></a>
    <hr/>
    <p class="muziklerim-b"><b>Canın sağolsun</b></p><br class="muziklerim-hr-br">
    <video src="~/videolar/Canın Sağolsun.mp4" controls="controls" id="vid1" title="Canın sağolsun"></video>
    <hr class="muziklerim-hr-br">
    <p class="muziklerim-b"><b>Dünyadan uzak</b></p><br class="muziklerim-hr-br">
   <video src="~/videolar/Dünyadan Uzak.mp4" controls="controls"  id="vid2" title="Dünyadan uzak"></video>
   <hr class="muziklerim-hr-br">
   <p class="muziklerim-b"><b>İçimdeki duman</b></p><br class="muziklerim-hr-br">
   <video src="~/videolar/içimdeki duman.mp4" controls="controls" id="vid3" title="İçimdeki duman"></video>
   <hr class="muziklerim-hr-br">
   <p class="muziklerim-b"><b>Seni üzerler</b></p><br class="muziklerim-hr-br">
   <video src="~/videolar/seni üzerler.mp4" controls="controls" id="vid4" title="Seni üzerler"></video><br>
   <hr class="muziklerim-hr-br">
   <p class="muziklerim-b"><b>Sen benden gittin gideli</b></p><br class="muziklerim-hr-br">
   <video src="~/videolar/SEN BENDEN GİTTİN GİDELİ.mp4" controls="controls" id="vid5" title="Sen benden gittin gideli"></video>
   <hr class="muziklerim-hr-br">
   <p class="muziklerim-b"><b>Dokunduğun gibi</b></p><br class="muziklerim-hr-br">
   <video src="~/videolar/Dokunduğun gibi..   Orçun ÖZDEMİR.mp4" controls="controls" id="vid6" title="Dokunduğun gibi"></video>
   <hr class="muziklerim-hr-br">
   <p class="muziklerim-b"><b>Gidiyorum</b></p><br class="muziklerim-hr-br">
   <video src="~/videolar/GİDİYORUM.mp4" controls="controls" id="vid7" title="Gidiyorum"></video>
   <hr class="muziklerim-hr-br">
  <p class="muziklerim-b"><b>Aşk sana benzer</b></p><br class="muziklerim-hr-br">
   <video src="~/videolar/AŞK SANA BENZER.mp4" controls="controls" id="vid8" title="Aşk sana benzer"></video>
   <hr/>
   <a href="https://www.youtube.com/orcunozdemir/videos" target="_blank"><p style="text-align: end; cursor:alias;">DAHA FAZLASI  <img src="~/res/youtube.png" width="30" height="30"/></p></a>
   <hr/>
</div>

<div style="position: static;">
    <a name="hakkimda"><h3>Hakkımda</h3></a><hr>
    <p>Merhaba, ben Orçun Özdemir! 2005 yılında gitarın büyülü dünyasına adım attığım o anı hâlâ unutmam mümkün değil. Henüz genç yaşlarımda müziğe olan merakım, gitara olan tutkumla buluştu ve o günden beri müziğin sihirli ritmine kapılmış durumdayım.</p>

<p>Gitarı elimde ilk tuttuğumda, tellerin titreşimi parmaklarımda bir melodiyi canlandırmamı sağladı. Bu o kadar büyülü bir deneyimdi ki, o an müziğin büyüsüne kapıldım ve hayatımın geri kalanında bu tutkuyu takip etmeye karar verdim.<p>

<p>Müziğe başladığımdan beri gitarla iç içe yaşıyorum. Akustik veya elektrikli, fark etmez; gitarın her türü benim için ayrı bir heyecan kaynağı. Yıllar içinde çeşitli müzik tarzlarını deneyimledim, rock ve blues'un yanı sıra caz ve hafif müzikten de ilham aldım. Ancak kalbim, gitarın naif ve romantik tonlarından vazgeçemiyor.</p>

<p>Sahne performansları, benim için adeta duygusal bir yolculuktur. Gitarımın tellerine dokunurken, notaların beni ifade etmeme yardımcı olduğunu hissediyorum. Müziğin evrensel dili sayesinde, dinleyicilere dokunmayı ve onların kalplerine ulaşmayı amaçlıyorum. İnsanların müziğimle duygusal bir bağ kurmasını sağlamak benim için en büyük ödüllerden biri.</p>

<p>Bu müzik yolculuğunda birlikte çalıştığım diğer yetenekli müzisyenlerle çeşitli projelerde yer aldım. Birlikte yaratıcı fikirlerle dolu harika işler çıkartmak, benim için müziğin sosyal bir etkileşim olduğunu gösteriyor. İşbirlikleri, farklı perspektiflerden ilham alıp müziğimi daha da zenginleştiriyor.</p>

<p>Gitar çalmak benim için sadece bir hobi değil, aynı zamanda ruhumun bir parçası. Müziğin büyüsüne kapıldığım o ilk günden beri, kendimi sürekli olarak geliştirmeye ve öğrenmeye adadım. Her yeni parça, her yeni nota benim için bir macera ve keşif yolculuğudur.</p>

<p>Gelecekte müziğiyle daha geniş kitlelere ulaşmak ve dünyanın dört bir yanındaki insanlara ilham vermek istiyorum. Müzik, duyguları ifade etmenin ve insanları bir araya getirmenin güçlü bir aracıdır. Ben de bu gücü hissederek, gitarımla insanlara unutulmaz melodiler sunmak ve onların kalplerine dokunmak istiyorum. Müzik benim hayatım ve gitarım ise en iyi arkadaşım oldu, hep birlikte insanların hayatına dokunmaya devam edeceğimize inanıyorum.</p>
    </p>
</div>


    <script src="site.js" asp-append-version="true"></script>
</body>
